<h3>Documents</h3>
<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit"><button>Edit</button></a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <input type="submit" value="Delete" name="file_name">
      </form>
      <form class="inline" action="/<%= file %>/duplicate" method="post">
        <input type="submit" value="Duplicate" name="file_name">
      </form>
    </li>
  <% end %>
</ul>

<h3>Images</h3>

<ul>
  <% @image_files.each do |image| %>
    <li>
      <a href="image/<%= image %>"><%= image %></a>
      <form class="inline" action="/image/<%= image %>/delete" method="post">
        <input type="submit" value="Delete" name="file_name">
      </form>
    </li>
  <% end %>
</ul>

<hr>

<a href="/new"><input type="button" value="New Document"></a>

<form action="/image/upload" method="post", enctype="multipart/form-data">
  <input type="file" name="image_name">
  <input type="submit" value="Upload Image">
</form>

<hr>

<a class="button" href="/users/signup">
  <input type="button" value="Sign Up">
</a>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %></p>
  <form action="/users/signout" method="post">
    <input type="submit" value="Sign Out">
  </form>
<% else %>
  <a class="button" href="/users/signin">
    <input type="button" value="Sign In">
  </a>
<% end %>
