<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <input type="submit" value="Delete" name="file_name">
      </form>
      <form class="inline" action="/<%= file %>/duplicate" method="post">
        <input type="submit" value="Duplicate" name="file_name">
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<a class="button" href="/users/signup">
  <input type="button" value="Sign Up">
</a>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %></p>
  <form action="/users/signout" method="post">
    <input type="submit" value="Sign Out">
  </form>
<% else %>
  <a class="button" href="/users/signin">
    <input type="button" value="Sign In">
  </a>
<% end %>
